$icomoon-font-path: "fonts" !default;

$icon-duplicate: "\e903";
$icon-more: "\e900";
$icon-close: "\e901";
$icon-remove: "\e902";
$icon-edit: "\e904";
$icon-breadcrumb: "\e905";
$icon-search: "\e906";
$icon-import: "\e907";
$icon-preview: "\e908";
$icon-plus: "\e909";
$icon-nav-home: "\e90a";
$icon-nav-logout: "\e90b";
$icon-nav-orders: "\e90c";
$icon-nav-stats: "\e90d";
$icon-nav-stores: "\e90e";

